body {
    font-family: 'Roboto', sans-serif;
    background-color: #a0b9c6;
    margin: 0;
    padding: 40px;
}

.container {
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

h1 {
    text-align: center;
    color: #802392;
    margin-bottom: 30px;
}

h2 {
    color: #995FA3;
}

form {
    margin-bottom: 20px;
}

input[type="file"] {
    margin-bottom: 10px;
}

button {
    background-color: #A5F8D3;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bold; 
}

button:hover {
    background-color: #8CE0C0;
}

.result {
    background-color: #A0B9C6;
    padding: 15px;
    border-left: 5px solid #995FA3;
    margin-top: 20px;
    border-radius: 5px;
}

.result strong {
    color: #802392;
}

.result a {
    color: #802392;
    text-decoration: none;
    font-weight: bold;
}

.result a:hover {
    text-decoration: underline;
}

.section {
    margin-top: 35px;
}

.processing-message {
    background-color: #9A98B5;
    border-left: 5px solid #802392;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.processing-message p {
    margin: 0;
    padding-bottom: 5px;
}

.processing-message a {
    text-decoration: underline;
    font-weight: bold;
}

.processing-message a:hover {
    color: #A5F8D3;
}